# Parsing Exiobase v3.3.18 (supply-use hybrid-units)

This tutorial shows how to parse the Exiobase v3.3.18 database in supply-use (SUT) format.

## Downloading the database

The database is available at the following Zenodo repository: https://zenodo.org/doi/10.5281/zenodo.7244918. 
You can manually download the repository or use the automatic download function available in MARIO, as shown here below.

In [1]:
import mario  # Import MARIO

exiobase_path = 'Exiobase v3.3.18'  # Define the desired path to the folder where Exiobase should be downloaded
mario.download_hybrid_exiobase(exiobase_path)  # Download the hybrid Exiobase into the desired folder

## Parsing the downloaded database

Once the Exiobase database is stored in a given path ('exiobase_path' in this example), it is possible to parse it into a mario.Database object.
The 'parse_exiobase' function is suitable to parse any version of Exiobase, providing the type of table ('SUT' or 'IOT), the type of unit ('Hybrid' or 'Monetary') and the directory where the database is stored.

The 'extensions' attribute allows to select which environmental transactions should be parsed. Options must be provided in a list and are: 'resource', 'Land', 'Emiss', 'Emis_unreg_w', 'waste_sup', 'waste_use', 'pack_sup_waste', 'pack_use_waste', 'mach_sup_waste', 'mach_use_waste', 'stock_addition', 'crop_res', 'Unreg_w'

In [2]:
exiobase = mario.parse_exiobase(
    table = 'SUT',
    unit = 'Hybrid',
    path = exiobase_path,
    extensions = 'all',   # Include all satellite accounts. By default is "" (None)
)

## Exploring the database

Once the database is parsed, MARIO offers useful methods to explore and navigate the database.

### Checking units of measure
In a hybrid-units database it may be interesting to check the unit of measure of the database's sets.

In [3]:
exiobase.units['Commodity']

                                                     unit
Paddy rice                                         tonnes
Wheat                                              tonnes
Cereal grains nec                                  tonnes
Vegetables; fruit; nuts                            tonnes
Oil seeds                                          tonnes
...                                                   ...
Membership organisation services n.e.c. (91)        Meuro
Recreational; cultural and sporting services (92)   Meuro
Other services (93)                                 Meuro
Private households with employed persons (95)       Meuro
Extra-territorial organizations and bodies          Meuro

[200 rows x 1 columns]

In [4]:
exiobase.units['Satellite account']

                                                     unit
Aquatic plants (resource)                           tonne
Bauxite and aluminium ores (resource)               tonne
Building stones (resource)                          tonne
Chemical and fertilizer minerals (resource)         tonne
Clays and kaolin (resource)                         tonne
...                                                   ...
Construction materials and mining waste (excl. ...  tonne
Oils and hazardous materials (Unreg_w)              tonne
Sewage (Unreg_w)                                    tonne
Mining waste (Unreg_w)                              tonne
Unused waste (Unreg_w)                              tonne

[336 rows x 1 columns]

Note that the "Activity" set, in hybrid databases, do not have unit of measure since each activity may supply heterogeneus commodities as output

In [5]:
exiobase.units['Activity']

                                                    unit
Cultivation of paddy rice                           None
Cultivation of wheat                                None
Cultivation of cereal grains nec                    None
Cultivation of vegetables, fruit, nuts              None
Cultivation of oil seeds                            None
...                                                  ...
Activities of membership organisation n.e.c. (91)   None
Recreational, cultural and sporting activities ...  None
Other service activities (93)                       None
Private households with employed persons (95)       None
Extra-territorial organizations and bodies          None

[164 rows x 1 columns]